/* Grid System */
.container {
    width: $container-width;
    max-width: $container-max-width;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -$spacing-unit-half 0;
}

[class*='col-'] {
    padding: 0 $spacing-unit-half;
    flex-basis: 100%;
    flex-grow: 1;
}

@media (min-width: 576px) {
    .col-6 { flex-basis: 50%; }
}

@media (min-width: 768px) {
    .col-4 { flex-basis: 33.33%; }
    .col-8 { flex-basis: 66.66%; }
}

@media (min-width: 992px) {
    .col-3 { flex-basis: 25%; }
    .col-9 { flex-basis: 75%; }
}
